#about-section {
  max-width: 1256px;
  display: flex;
  flex-direction: row-reverse;
  /* padding-top: 20px; */
  height: 100vh;
  align-items: center;
  padding-bottom: 150px;
}

.profileImage {
  display: flex;
  margin-top: 100px;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.intro {
  /* font-family: "Rock Salt", cursive; */
  padding-bottom: 20px;
  font-size: 35px;
  text-shadow: 2px 2px 5px #199dbd;
  overflow: hidden;
  /* border-right: 0.15em solid #f9f4da; */
  white-space: nowrap;
  margin: 0 auto;
  /* letter-spacing: 0.15em; */
  animation:
    typewriter 4s steps(30, end),
    blink-caret 0.75s step-end infinite;
  display: inline-block;
}

.text-section {
  padding-right: 50px;
  text-align: justify;
}

.about-text {
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
  /* text-shadow: 2px 2px 5px #199dbd; */
}

@media (max-width: 1024px) {
  #about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 70px;
  }

  .text-section {
    padding-right: 0;
    padding-top: 20px;
  }

  .about-start {
    text-align: center;
  }

  .about-text {
    font-size: 16px;
  }

  /* .intro {
    text-align: center;
  } */
}
