.about-section {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 150px;
}

.profileImage {
  display: flex;
  padding-top: 30px;
}

.intro {
  font-family: "Rock Salt", cursive;
  padding-bottom: 20px;
}

.text-section {
  padding-right: 50px;
  text-align: justify;
}

@media (max-width: 768px) {
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .text-section {
    padding-right: 0;
    padding-top: 20px;
  }

  .about-start {
    text-align: center;
  }

  .intro {
    text-align: center;
  }
}
