.project-title {
  font-family: "Rock Salt", cursive;
  padding-bottom: 20px;
  font-size: 25px;
}

#project-section {
  margin-top: 70px;
}

.chat-section {
  display: flex;
  align-items: center;
  background: #f9f4da;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 200;
  font-size: 14px;
  line-height: 25px;
  color: black;
  border: 3px solid #199dbd;
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em #199dbd;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

.chat-section:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.3em 0.3em #199dbd;
}

/* .chat-section:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
} */

.box-title {
  font-weight: 900;
}

.chat-section strong {
  font-weight: 600;
}

.chat-section p {
  padding-right: 30px;
  font-weight: 400;
}

.chat-section i {
  font-size: 40px;
  padding: 5px;
}

/* .strapi {
  width: 40px;
  margin-right: 10px;
} */

.chat-video {
  width: 300px;
}

.personal h2,
.collab h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.textAndButtons {
  max-width: 800px;
}

@media (max-width: 1024px) {
  .project-title {
    text-align: center;
  }

  .chat-section {
    display: flex;
    flex-direction: column;
  }

  .chat-section p {
    margin-bottom: 20px;
    text-align: justify;
    padding-right: 0;
  }
}
