.project-title {
  /* font-family: "Rock Salt", cursive; */
  padding-bottom: 50px;
  font-size: 45px;
  font-weight: 400;
  color: #199dbd;
}

#project-section {
  padding-top: 150px;
  /* height: 100vh;
  align-items: center; */
}

.chat-section {
  max-width: 1256px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f4da;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 200;
  font-size: 14px;
  line-height: 25px;
  color: black;
  border: 3px solid #199dbd;
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em #199dbd;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 60px;
}

/* .chat-section:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.3em 0.3em #199dbd;
} */

/* .chat-section:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
} */

.box-title {
  font-weight: 900;
}

.chat-section strong {
  font-weight: 600;
}

.chat-section p {
  padding-right: 30px;
  font-weight: 400;
}

.chat-section i {
  font-size: 40px;
  padding: 5px;
}

/* .strapi {
  width: 40px;
  margin-right: 10px;
} */

.chat-video {
  width: 300px;
}

.personal {
  margin-top: 70px;
}

.personal h2,
.collab h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.textAndButtons {
  max-width: 800px;
}

.github-image {
  width: 100px;
  margin-top: 20px;
}

.github-image:hover {
  transform: translate(-0.1em, -0.1em);
}

.github-image:active {
  transform: translate(0.1em, 0.1em);
}

.more-section {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

@keyframes burstEffect {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.burst-element {
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.burst-element.in-view {
  animation: burstEffect 0.5s forwards;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Start and end position (at the ground) */
  }
  40% {
    transform: translateY(-20px); /* Top of the bounce */
  }
  60% {
    transform: translateY(-10px); /* Bottom of the bounce */
  }
}

.github-link {
  display: inline-block;
  animation: bounce 1s infinite;
}

@media (max-width: 720px) {
  .project-title {
    text-align: center;
  }

  .chat-section {
    display: flex;
    flex-direction: column;
  }

  .chat-section p {
    margin-bottom: 20px;
    text-align: justify;
    padding-right: 0;
  }

  .buttons-container {
    margin-bottom: 40px;
    flex-direction: column;
    text-align: center;
  }

  .chat-video {
    width: 250px;
  }
}
