#tech-section {
  padding-top: 150px;
  height: 100vh;
  align-items: center;
}

.next {
  background-color: white;
}

.github {
  background-color: white;
}

.tech-title {
  /* font-family: "Rock Salt", cursive; */
  padding-bottom: 50px;
  font-size: 45px;
  font-weight: 400;
  color: #199dbd;
}

.tech-icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 720px) {
  .tech-title {
    text-align: center;
  }

  .tech-icons {
    justify-content: center;
  }

  .icon {
    width: 60px;
  }
}
